body[data-route='/'] {
    background-color: white;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

body[data-route='/login'],
body[data-route='/register'],
body[data-route='/index'],
body[data-route='/query'],
body[data-route='/v2ray'],
body[data-route='/updatePwd'] {
    background-color: #DCDCDC;
}

body[data-route='/query']::-webkit-scrollbar {
    display: none;
}