$fontawesomeUrl: "https://www.devilspiderx.top:10043/static/fontawesome@6.5.1/css/all.min.css";
$MiSansUrl: "https://www.devilspiderx.top:10043/static/MiSans/MiSans-Normal.ttf";

@import url($fontawesomeUrl);

@font-face {
    font-family: "MiSans Normal";
    src: url($MiSansUrl);
}
