$fontawesomeUrl: "@/assets/fontawesome/css/all.min.css";
$MiSansUrl: "@/assets/fonts/MiSans/MiSans-Normal.ttf";

@import url($fontawesomeUrl);

@font-face {
    font-family: "MiSans Normal";
    src: url($MiSansUrl);
}
