@use "./color.scss" as *;
@use "./box.scss" as *;

html,
body,
div#app {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#app {
    width: 100dvw;
    height: 100dvh;
}

body {
    font-family: "MiSans Normal", serif !important;
    background-color: white;

    &.no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@font-face {
    font-family: "MiSans Normal";
    src: url("@/assets/fonts/MiSans/MiSans-Normal.ttf");
}
