@use "sass:color";

$theme-red: #f53f3f;
$theme-orange: #ff7d00;
$theme-yellow: #fadc19;
$theme-green: #00b42a;
$theme-cyan: #14c9c9;
$theme-blue: #165dff;
$theme-purple: #722ed1;
$theme-gold: #f7ba1e;
$theme-gray: #86909c;
$theme-darkmode-red: #f76965;
$theme-darkmode-orange: #ff9626;
$theme-darkmode-yellow: #fbe94b;
$theme-darkmode-green: #27c346;
$theme-darkmode-cyan: #3fd4cf;
$theme-darkmode-blue: #3c7eff;
$theme-darkmode-purple: #8e51da;
$theme-darkmode-gold: #f9cc44;
$theme-darkmode-gray: #929293;

$colors: (
    "red": (
        "": $theme-red,
    ),
    "orange": (
        "": $theme-orange,
    ),
    "yellow": (
        "": $theme-yellow,
    ),
    "green": (
        "": $theme-green,
    ),
    "cyan": (
        "": $theme-cyan,
    ),
    "blue": (
        "": $theme-blue,
    ),
    "purple": (
        "": $theme-purple,
    ),
    "gold": (
        "": $theme-gold,
    ),
    "gray": (
        "": $theme-gray,
    ),
);

$darkmode-colors: (
    "red": (
        "": $theme-darkmode-red,
    ),
    "orange": (
        "": $theme-darkmode-orange,
    ),
    "yellow": (
        "": $theme-darkmode-yellow,
    ),
    "green": (
        "": $theme-darkmode-green,
    ),
    "cyan": (
        "": $theme-darkmode-cyan,
    ),
    "blue": (
        "": $theme-darkmode-blue,
    ),
    "purple": (
        "": $theme-darkmode-purple,
    ),
    "gold": (
        "": $theme-darkmode-gold,
    ),
    "gray": (
        "": $theme-darkmode-gray,
    ),
);
