#card-container {
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
}

.switch {
    width: 10rem;
    height: 4rem;
    padding: 0;
    background: linear-gradient(to right, #28a745 33.3%, white 33.3%, white 66.6%, #eee 66.6%);
    background-size: 150%;
    border: 1px solid #ccc;
    border-radius: .7rem;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    direction: ltr;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out,
    background-position .4s ease-in-out;
}

.switch:focus, .switch:active {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    outline: 0;
}

.switch[switch-status="off"] {
    background-position: right;
}

.switch-container {
    width: 150%;
    height: 100%;
    padding: 0;
    display: flex;
    transition: transform .4s ease-in-out .05s;
}

.switch[switch-status="off"] > .switch-container {
    transform: translateX(-5rem);
}

.switch-lever-0,
.switch-lever-1,
.switch-lever-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-lever-0 {
    color: white;
}

.switch-lever-2 {
    color: rgba(0, 0, 0, 0.87);
}