html,
body,
div#app {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "MiSans Normal" !important;
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
}

@font-face {
    font-family: "MiSans Normal";
    src: url("./assets/fonts/MiSans/MiSans-Normal.ttf");
}

body.no-scrollbar::-webkit-scrollbar {
    display: none;
}